/* src/index.css - Estilos Base Limpios */
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;600;700&display=swap');

body {
    margin: 0;
    font-family: 'Lora', serif;
    background-color: #fcfcfc;
    color: #333;
    line-height: 1.6;
    font-size: 16px;
}

h1,
h2,
h3 {
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: #d1d1d1;
    border-radius: 4px;
}

::-webkit-scrollbar-track {
    background: #f7f7f7;
}